.formWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.addBookForm {
    position: relative;
    width: 90%;
    height: calc(100% - var(headerHeight));
    margin-top: 5%;
}

form input {
    margin: 3px;
    width: calc(100% - 21px);
    border-width: 0;
    padding: 3px;
    padding-left: 10px;
    height: 30px;
    font-size: var(--text-body);
    border-radius: 3px;
}
form .reactSelect {
    margin: 3px;
    width: calc(100% - 8px);
    font-size: var(--text-body);
    color: var(--app-bg-color);
}

form label {
    font-size: var(--text-header);
    position: absolute;
    left: 5px;
    margin-top: 2px;
}

.formButtonGroup {
    font-size: var(--text-body);
    margin: 20px;
}
.formButtonGroup hr {
    width: 20px;
    display: inline-block;
    position: relative;
    transform: translate(0,-3px);
}

.addButton, .browseButton {
    width: 100px;
    height: 30px;
    margin: 15px;
    background-color: var(--neutral-gray);
    border-radius: 5px;
    color: white;
    font-size: var(--text-body)
}
.addBookForm .formButtonGroup .browseButton {
    background-color: var(--neutral-gray-lighter);
    height: 20px;
    width: 60px;
    font-size: var(--text-fineprint);
    border: 0.5px solid white;
}

.errorMsg {
    font-size: var(--text-body);
    color: red;
}

.successMsg {
    font-size: var(--text-header);
    color: white;
}
