* {
    margin: 0;
    padding: 0;
}

.rhcLogo {
    height: 100px;
    resize: both;
}

.AppWrapper {
    text-align: center;
    background-color: #282c34;
    display: flex;
    height: 100vh;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.Navbar {
    height: 40px;
    border: 0.5px solid white;
    width: 100%;
}

.AppBody {
    display: flex;
    width: 100%;
    height: calc(100% - 40px);
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.formWrapper {
    position: relative;
    width: 80%;
}

form input {
    margin: 5px;
    width: calc(100% - 14px);
    border-width: 0;
    padding: 2px;
}

form label {
    font-size: 12px;
    position: absolute;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    left: 0;
}

.formButtonGroup {
    font-size: 12px;
    margin: 20px;
}
.formButtonGroup hr {
    width: 20px;
    display: inline-block;
    position: relative;
    transform: translate(0,-3px);
}

.loginButton, .registerButton {
    width: 100px;
    height: 30px;
    margin: 15px;
    background-color: #777777;
    border-radius: 5px;
    color: white;
}
.loginForm .formButtonGroup .registerButton {
    background-color: #555555;
    height: 20px;
    width: 60px;
    font-size: 10px;
    border: 0.5px solid white;
}

.bookListContainer {
    width: 90%;
}

.bookInfo {
    display: grid;
    grid-template-columns: 22% 78%;
    row-gap: 5px;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    border: 0.5px lightblue solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

.errorMsg {
    font-size: 12px;
    color: red;
}
