:root {
    --headerHeight: 50px;
    --footerHeight: 20px;
    --transparent: #00232900;
    --navbar-color: #00474f;
    --app-bg-color: #002329FF;
    --success-green: #237804;
    --neutral-gray: #777777;
    --neutral-gray-lighter: #555555;
    --text-header:14px;
    --text-body: 12px;
    --text-fineprint: 10px;
}

* {
    margin: 0;
    padding: 0;
}

/*to fix safari's bounce*/
html,
body {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

button {
    background-color: unset;
    border: unset;
}

/*=========================== App.js ============================*/

.rhcLogo {
    height: 100px;
    resize: both;
}

.AppWrapper {
    text-align: center;
    background-color: #002329;
    display: flex;
    height: 100vh;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}



.AppBody {
    display: flex;
    width: 100%;
    flex-grow: 1;
    height: calc(100% - var(--headerHeight));
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    overflow-y: scroll;
    position: relative;
}

.fade {
    width: 100vw;
    height: 100px;
    position: fixed;
    bottom: 20px;
    z-index: 1;
    pointer-events: none;
    background: -moz-linear-gradient(top, var(--transparent) 0%, var(--app-bg-color) 100%);
    background: -webkit-linear-gradient(top, var(--transparent) 0%, var(--app-bg-color) 100%);
    background: -o-linear-gradient(top, var(--transparent) 0%, var(--app-bg-color) 100%);
    background: -ms-linear-gradient(top, var(--transparent) 0%, var(--app-bg-color) 100%);
    background: linear-gradient(to bottom, var(--transparent) 0%, var(--app-bg-color) 100%);
}

.AppFooterWrapper {
    font-size: var(--text-fineprint);
    padding: 5px;
    position: fixed;
    z-index: 1;
    background-color: var(--app-bg-color);
    width: 100%;
    bottom: 0;
}

/*=========================UsersPage.js & Browse.js===========================*/
.fullScreen {
    position: absolute;
    top: var(--headerHeight);
    left: 0;
    height: calc(100% - var(--headerHeight));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002329A7;
}
.loadingIcon {
    position: relative;
    top: calc(-1.5 * var(--headerHeight));
}

.preLoginHeader {
    width: 100%;
    position: sticky;
    top: 0;
}

.listContainer {
    width: 90%;
    flex-grow: 1;
    padding-bottom: 100px;
}
.listItem {
    display: grid;
    grid-template-columns: 22% 78%;
    row-gap: 5px;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    border: 0.5px lightblue solid;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.listItem .borrowedIcon {
    height: 12px;
    resize: both;
    position: absolute;
    right: 5px;
    bottom: 5px;
}



/*============================Login.js===========================*/
.FirebaseAuthWrapper {
    position: relative;
    top: calc(-1.5 * var(--headerHeight));
}

.pageNotFoundText {
    position: relative;
    top: calc(-1 * var(--headerHeight));
}

/*==========================Confirmation=============================*/

.listContainer.confirmation .listItem {
    pointer-events: none;
}

.confirmButton, .goBackButton {
    width: 100px;
    height: 30px;
    margin: 15px;
    background-color: var(--success-green);
    border-radius: 5px;
    color: white;
    font-size: var(--text-body)
}

.goBackButton {
    background-color: var(--neutral-gray);
}

.thankYouPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}
